 {{!-- <h1>Message</h1>


<table>



    <th>Patient Name</th>
    <br>
    <th>Arrival Time</th>



</table> --}}



    <h1>Message</h1>

    <table>
        <tr>
        <th>Patient Name</th>
        <th>Time</th>
        <th>Medication</th>
        </tr>
        
         <tr>
            <td>Lumanyano</td>
            <td>{{Time}}</td>
            <td>{{Medication}}</td>
        </tr> 
        
        
    </table>
    
