<body>
    
{{!-- <div class="container"> --}}

<h1>PATIENT DELIVERY</h1>
<form action="/summary" method="POST">
<div>
    <input type="textbox" name="code" placeholder="entercode">
   </div>
<br>
   <div> 
       <input type="submit" >       
</div>


</form>
{{!-- </div> --}}

</body>