<body>
    


<h1>PATIENT DELIVERY</h1>
<form action="/summary" method="POST">
<div>
    <input type="number" name="code" placeholder="entercode">
   </div>
<br>
   <div> 
       <input type="submit" >       
</div>


</form>


</body>