<h2>Delivery Summary</h2>

<h4>Contents</h4>

<div>
    <br>
   mayeza <input type="checkbox" name="medicine">
    <br>
   mayeza <input type="checkbox" name="medicine">
    <br>
   mayeza <input type="checkbox" name="medicine">
   <br>
</div>

<h3>feedback</h3>

<div>
    <br>
  All Good  <input type="radio" name="feedback" >
    <br>
    Missing Content <input type="radio" name="feedback" >
    <br>
</div>



<h5>Customer Report</h5>

<div>
    <input type="textbox" name="customer report" >
</div>
<br>
<input type="submit">

{{enterCode}}