<h2>Delivery Summary</h2> 


<h4>Contents</h4>

<div>
    <br>
   <input type="checkbox" name="medicine"> Sulfonylureas 
    <br>
   <input type="checkbox" name="medicine">  Meglitinides
    <br>
    <input type="checkbox" name="medicine"> Thiazolidinediones
   <br>
     <input type="checkbox" name="medicine"> DPP-4 inhibitors
   <br>
     <input type="checkbox" name="medicine"> DPP-4 inhibitors
   <br>
    <input type="checkbox" name="medicine">  SGLT2 inhibitors
   <br>
    <input type="checkbox" name="medicine">  Insulin
   <br>
</div>

<h3>feedback</h3>

<div>
    <br>
<input type="radio" name="feedback" >   All Good  
    <br>
   <input type="radio" name="feedback" >   Missing Content 
    <br>
</div>



<h5>Customer Report</h5>

<div>
    <input type="textbox" name="customer report" id="textboxid">
</div>
<br>
<input type="submit">

