body {
    background-color:rgb(0, 204, 102);
  }
  
  h1 {
    color:black;
    text-align: center;
  }

  div {
    width: 300px;
    margin: auto;
   
  }

  div {
    width: 300px;
    border: 15px solid navajowhite;
    padding: 50px;
    margin: 20px;
  }

  #textboxid
  {
      height:100px;
      font-size:14pt;
  }


.container{
    
    float: inherit;
    display: grid;
    padding-bottom: 2em;
    padding-top: 2em ;
    margin: auto;
    width: 50%;

}


